$color-primary : rgb(0, 0, 0);
$color-secondary: rgb(238, 79, 79);
$color-light-text: rgb(207, 207, 207);
$color-dark-text: rgb(63, 63, 63);

body {
  font-family: 'Rubik', sans-serif;
  background: $color-primary;
  color: $color-light-text;
}

.navbar {
  color: $color-light-text;
}

.homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('./assets/images/movies.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.home-container {
  margin-top: 30vh;
  max-width: 86%;
}

.home-text {
  text-align: center;
}

.jumbotron {
  height: 30vh;
  display: flex;
  align-items: center;
}

.search-btn {
  margin-top: 10px;
  background: transparent;
  border: 1px solid $color-secondary;
  color: $color-secondary;
}

.card {
  border: none;
}

.card-body {
  color: $color-dark-text;
}

.card-columns {
  flex-direction: row;
}

.card-img-top {
  max-height: 75vh;
}

.small {
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media only screen and (max-width: 734px) {
  .home-container {
    margin-top: 20vh;
  }
}

@media only screen and (max-width: 405px) {
  .home-text {
    font-size: 28px;
  }
}