$color-primary : rgb(13,14,14);
$color-light-text: rgb(207, 207, 207);
$color-dark-text: rgb(63, 63, 63);

.app-container {
  position: relative;
  min-height: 150vh;
}

.app-content {
  padding-bottom: 200px;
}

body {
  font-family: 'Rubik', sans-serif;
  background: $color-primary;
  color: $color-light-text;
}

.navbar {
  color: $color-light-text;
}

.homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('./assets/images/movies.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.home-text {
  text-align: center;
}

.jumbotron {
  display: flex;
  align-items: center;
}

.card {
  border: none;
}

.card-body {
  color: $color-dark-text;
}

.card-columns {
  flex-direction: row;
}

.card-img-top {
  max-height: 75vh;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.no-bullets {
  list-style: none;
}

.page-footer {
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333435;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
  .home-movie-container {
    width: 95vw;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
  .home-movie-container {
    column-count: 1;
    width: 75vw;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
  .home-movie-container {
    width: 50vw;
  }
}